.nav-container{
    margin-top:50px;
    position:relative;
}

.logo{
    float:left;
    margin-left:400px;
}

.menu{
    float:right;
    margin-right:400px;
    line-height: 90px;
    font-size: 20px;
    /* text-transform: uppercase; */
    font-family: "Poppins";
    font-weight: 400;
    text-decoration:none;
    /* z-index:999999; */
    
}

.menu ul li a{
    list-style-type: none;
    text-decoration:none;
    padding-left:50px;
    /* color:#F94099; */
}

.current-page{
    color:#F94099;
}

.not-highlighted:hover{
    text-decoration:underline;
}

.not-highlighted{
    color:#9d9d9d !important;
}

.menu ul li{
    display: inline;
}

.gradient-dot{
    background-image:radial-gradient(circle, #FA51A2, #FFBAD7);
    width:80px;
    height:80px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin-left:400px;
    margin-top:270px;
}


.gradient-dot-1{
    background-image:radial-gradient(circle, #FA51A2, #FFBAD7);
    width:80px;
    height:80px;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin-left:280px;
    margin-top:50px;
}

.project-subtitle span p{
    padding-top:270px;
    margin-left:400px;
    padding-left:120px;
    font-family: 'Poppins';
    font-size: 30px;
}

.project-subtitle span a{
    margin-top:-30px;
    margin-left:400px;
    padding-left:120px;
    font-family: 'Poppins';
    font-size: 15px;
    display: block;
    position: absolute;
}

.reg-subtitle span p{
    padding-top:70px;
    margin-left:280px;
    padding-left:120px;
    font-family: 'Poppins';
    font-size: 25px;
}

.card{
    position:relative;
    width:300px;
    height:350px;
    margin:20px;
    /* background:#333; */
    border-radius:20px;
    transition:0.5s;
    transition-delay:0.5s;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin-left:400px;
    margin-top:100px;
    text-decoration:none;

}

.card-a{
    text-decoration:none;
}

.card-left{
    margin-left:900px;
    margin-top:-400px;
}

.card:hover{
    width:400px;
    transition-delay:0s;
}

.card .circle{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:20px;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card .circle::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:var(--clr);
    clip-path: circle(120px at center);
    transition:0.5s;
}

.card:hover .circle::before{
    clip-path: circle(400px at center);

}

.logo-smaller{
    width: 150px !important; 
}

.logo-cafe{
    margin-top: -10px !important; 
    width: 80px !important; 
}

.logo-tp{
    width: 100px !important; 
}

.mockup-tp{
    /* width: 250px !important; 
    height: 210px !important; */
    margin-top: -10px;
    margin-left: 25px !important; 
}

.mockup-cafe23{
    width: 350px !important; 
    height: 320px !important; 
    margin-left: -25px !important; 
    margin-top: -10px;
}


.card .circle .project-logo{
    position:relative;
    width:200px;
    transition:0.5s;
    transition-delay:0.5s;
}

.card .circle .logo-small{
    width:150px;
}

.card:hover .circle .project-logo{
    transform:scale(0);
    transition-delay:0s;
}

.content{
    position:relative;
    width:55%;
    left:35%;
    padding: 20px 40px 20px 20px;
    opacity: 0;
    transition:0.5s;
    visibility:hidden;
    text-decoration:none;
}

.card:hover .content{
    right:0;
    opacity:1;
    visibility:visible;
    transition-delay:0.5s;
}

.card .content p{
    text-align:right;
    font-family: 'Poppins';
    font-size: 15px;
    color:white;
    text-decoration:none;

}

.card .content h2{
    text-align:right;
    font-family: 'Poppins';
    font-size: 30px;
    color:white;
    text-decoration:none;

}

.card .project_image{
    position:absolute;
    top:50%;
    left:18%;
    transform:translate(-50%, -50%) scale(0);
    height:250px;
    /* width:100px; */
    transition:0.5s;
    transition-delay:0s;
}

.card .image-smaller{
    height:300px !important;
    margin-top:30px;
    margin-left:10px;
}


.card:hover .project_image{
    left:18%;
    transform:translate(-50%, -50%) scale(1);
    transition-delay:0.5s;
}

.card .image-big{
    height:350px;
    left:50% !important;
    top:30%;
}

.card:hover .image-right{
    left:40%;
    transform:translate(-50%, -50%) scale(1);
    transition-delay:0.5s;
}


.content-right{
    position:relative;
    width:50%;
    left:5%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition:0.5s;
    visibility:hidden;
}

.card:hover .content-right{
    left:0;
    opacity:1;
    visibility:visible;
    transition-delay:0.5s;
}

.card .content-right p{
    text-align:left;
    font-family: 'Poppins';
    font-size: 15px;
    color:white;
}

.card .content-right h2{
    text-align:left;
    font-family: 'Poppins';
    font-size: 30px;
    color:white;
}

.card .project_image-right{
    position:absolute;
    top:50%;
    left:80%;
    transform:translate(-50%, -50%) scale(0);
    height:250px;
    /* width:100px; */
    transition:0.5s;
    transition-delay:0s;
}

.card:hover .project_image-right{
    left:80%;
    transform:translate(-50%, -50%) scale(1);
    transition-delay:0.5s;
}


.footer-space{
    height:200px;
    width:100%;
    clear:both;
}

footer{
    font-family: 'PT Sans', sans-serif;
    font-size:15px;
    text-align: center;
    justify-content:center;
    align-items:center;
    color:#F94099;
}

.footer-under-space{
    height:80px;
    width:100%;
    clear:both;
}

